@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

:root {
  --animate-duration: 0.8s;
}

html,
body,
#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.playfield {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.7rem;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding: 10px;
}

.players { 
  width: 100%;
}

.players div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  column-gap: 5px;
  text-align: center;
  font-size: 1.8rem;
  background: rgba(233, 247, 252, 0.583);
  color:#000000;
  box-shadow: 0 0 5px black;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  &:first-child{
    margin-bottom: 5px;
  }
}

@media (max-width: 600px) {
  .players div {
    font-size: 1.2em;
  }
}

.players span {
  color: rgb(0, 110, 255);
  font-size: clamp(1rem, 1.3rem, 1.5rem);
}

.player-score {
  font-size: clamp(1rem, 1.3rem, 1.5rem);
  padding: 5px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 90%; 
  background-color: #fcffe0c8;
  box-shadow: 0 0 5px ;
}



.currentPlayer {
  background: rgba(13, 165, 76, 0.867) !important; 
  color: white;
}

.currentPlayer span {
  color: rgb(70, 255, 14);
}

.playground {
  display: grid;
  perspective: 1000px;
  place-content: center;
  gap: 0.5rem;
  /* background-color: rgb(247, 254, 200); */
  padding: 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
 
 
.main-menu {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  padding: 1rem;
  border-radius: 10px;
}

.select-players {
  display: flex;
  column-gap: 1.5rem;
  @media (max-width: 600px) {
    column-gap: 0.8rem;
  }
}

.select-players button {
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px;
  overflow: hidden;
  border-radius: 8px;
  perspective: 1000px;
  transition: transform 0.6s;
}

.card img {
  position: absolute;
  width: 68%;
  height: 68%;
  object-fit: contain;
}

.card .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.card .inner .front,
.card .inner .back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .inner .front {  
  background: rgba(141, 243, 183, 0.586);

  backdrop-filter: blur(4px)
}
.card .inner .back {
  transform: rotateY(180deg);
  background-color: #fff;
}

.card .front img {
  width: 45%;
  height: 45%;
}

.game-over {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(221, 221, 221, 0.856);
  backdrop-filter: blur(12px);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  height: 100%;
  max-height: 500px;
  min-height: 200px;
  background-color: rgba(189, 210, 236, 0.404);
  padding: 1.2rem; 
}

.info h2 {
  font-size: 2rem;
  color: rgb(252, 46, 46);
}

.info button {
  padding: 10px 15px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
  -webkit-border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
  -moz-border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
  -ms-border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
  -o-border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
}
.info button:first-child{
  border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
  -webkit-border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
  -moz-border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
  -ms-border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
  -o-border-radius: 3% 97% 10% 90% / 90% 7% 93% 10% ;
}
.info button:last-child{
    border-radius:  13% 87% 18% 82% / 77% 3% 97% 23% ;
    -webkit-border-radius:  13% 87% 18% 82% / 77% 3% 97% 23% ;
    -moz-border-radius:  13% 87% 18% 82% / 77% 3% 97% 23% ;
    -ms-border-radius:  13% 87% 18% 82% / 77% 3% 97% 23% ;
    -o-border-radius:  13% 87% 18% 82% / 77% 3% 97% 23% ;
}

.activePlayer {
  box-shadow: 0px 0px 15px black;
  background: linear-gradient(0deg, rgb(29, 155, 69), rgb(221, 255, 0)) !important;
}

.scores-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
  align-items: center;
}

.scores-info svg {
  width: 3rem;
  height: 3rem;
  fill: orangered;
}

.scores-info p {
  font-size: 1.2rem;
}

.action-btns {
  display: flex;
  column-gap: 2rem;
}

.action-btns button {
  padding: 20px 30px;
}

.action-btns svg {
  width: 3rem;
  height: 3rem;
}

.menu {
  display: flex;
  max-width: 50px;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.menu:hover {
  box-shadow: 0 0 8px black;
}

.menu svg {
  width: 1.6rem;
  height: 1.6rem;
  color: rgb(25, 187, 25);
}

.animate__animated.animate__pulse {
  --animate-duration: 0.4s;
}

@keyframes animate__jello_custom {
  0% {
    transform: none;
  }
  11.1% {
    transform: none;
  }
  22.2% {
    transform: skewX(-4.5deg) skewY(-4.5deg);
  }
  33.3% {
    transform: skewX(3deg) skewY(3deg);
  }
  55.5% {
    transform: skewX(1deg) skewY(1deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
  100% {
    transform: none;
  }
}

.animate__jello_custom {
  animation: animate__jello_custom 0.6s both;
}

.btn {
  position: relative;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 30px;
  height: 60px;
  width: 100%;
  max-width: 210px;
  opacity: 1;
  background: linear-gradient(0deg, rgb(45, 139, 136), rgb(116 227 104 / 58%));
  background-size:cover;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.btn .btn-element {
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 1.5rem;
}

.btn:hover {
  animation: rotate 0.7s ease-in-out both;
}

.btn:hover .btn-element {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(2deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-2deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.main-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/zoo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(1px) sepia(0.3) grayscale(0.2);
  z-index: -1;
  -webkit-filter: blur(1px) sepia(0.3) grayscale(0.2);
}



.content {
  z-index: 1;
}
  
 
@media (min-width: 1200px) {
  .playground {
    grid-template-columns: repeat(4, 200px);
  }
}
 

 
@media (max-width: 767px) { 
  .btn {
    padding: 20px 20px;
    height: 50px;
    font-size: 1rem;
    max-width: 110px;
  }

  .btn .btn-element {
    font-size: 1rem;
  }

  .info {
    max-width: 90%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    .action-btns button{
      padding: 20px;
      cursor: pointer;

      svg{
        width: 1.8rem;
        height: 1.8rem;
      }
    }
}
}

.single-player{

}
.single-player img{
  width: 200px;
  height: 200px;
}

